@import '~bootstrap/scss/bootstrap';

.projects_table {
    img {
        object-fit: cover;
        object-position: top;
        height: 75px;
    }
}

.dashboard {
    .last_project_image {

        object-fit: cover;
        object-position: top;
        height: 200px;

    }
}

.show {
    .show_image {

        object-fit: cover;
        object-position: top;
        height: 500px;

    }
}